@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(//themes.googleusercontent.com/static/fonts/sourcesanspro/v5/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

body, html { margin: 0; padding: 0; height: 100%; }
section, article { display: block; padding: 0; }

body {
  background: #f8f8f8;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

p { margin-top: 0; }

h2, h3, h1 {
  font-weight: normal;
  margin-bottom: .7em;
}
h1 { font-size: 140%; }
h2 { font-size: 120%; }
h3 { font-size: 110%; }
article > h2:first-child, section:first-child > h2 { margin-top: 0; }

#nav h1 {
  margin-right: 12px;
  margin-top: 0;
  margin-bottom: 2px;
  color: #88ade2;
  letter-spacing: .5px;
}

a, a:visited, a:link, .quasilink {
  color: #88ade2;
}

em {
  padding-right: 2px;
}

.quasilink {
  cursor: pointer;
}

.CodeMirror {border: 1px solid #ddd;}

article {
  margin-left: 210px;
  background: white;
  z-index: 2;
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#nav {
  position: fixed;
  padding-top: 30px;
  max-height: 100%;
  font-size: 19px;
  box-sizing: -moz-border-box;
  box-sizing: border-box;
  overflow-y: auto;
  left: 0;
  height: 100%;
  width: 210px;
  text-align: left;
  z-index: 3;

  background: #f8f8f8;
  border-right: 2px solid #88ade2;
}

#nav a {
  text-decoration: none;
}

#nav .btn:hover {
  text-decoration: none;
  background-color: rgb(36, 36, 36);
  color: #ffffff;
}

#nav li {
  display: block;
  margin-bottom: 4px;
  text-align: center;
}

#nav li ul {
  font-size: 80%;
  margin-bottom: 0;
  display: none;
}

#nav li.active ul {
  display: block;
}

#nav li li a {
  padding-right: 20px;
  display: inline-block;
}

#nav ul {
  display: block;
  margin: 0; padding: 0;
  margin-bottom: 32px;
}

#nav ul a {
  color: black;
  padding-top: 2px;
  padding-bottom: 2px;
}

#nav ul a.active, #nav ul a:hover {
  border-bottom: 1px solid #88ade2;
  margin-bottom: -1px;
  color: #88ade2;
}

#logo {
  border: 0;
  margin-right: 12px;
  margin-bottom: 25px;
}

section {
  border-top: 1px solid #88ade2;
  margin: 1.5em 0;
}

section.first {
  border: none;
  margin-top: 0;
}

#demo {
  position: relative;
}

#demolist {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 25;
}

.actions {
  margin: 1em 0 0;
  min-height: 100px;
  position: relative;
}

.actionspicture {
  pointer-events: none;
  position: absolute;
  height: 100px;
  top: 0; left: 0; right: 0;
}

.actionlink {
  pointer-events: auto;
  font-family: arial;
  font-size: 80%;
  font-weight: bold;
  position: absolute;
  top: 0; bottom: 0;
  line-height: 1;
  height: 1em;
  margin: auto;
}

.actionlink.download {
  color: white;
  right: 50%;
  margin-right: 13px;
  text-shadow: -1px 1px 3px #b00, -1px -1px 3px #b00, 1px 0px 3px #b00;
}

.actionlink.fund {
  color: #b00;
  left: 50%;
  margin-left: 15px;
}

.actionlink:hover {
  text-decoration: underline;
}

.actionlink a {
  color: inherit;
}

.actionsleft {
  float: left;
}

.actionsright {
  float: right;
  text-align: right;
}

th {
  text-decoration: underline;
  font-weight: normal;
  text-align: left;
}

#features ul {
  list-style: none;
  margin: 0 0 1em;
  padding: 0 0 0 1.2em;
}

#features li:before {
  content: "-";
  width: 1em;
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: -1em;
}

.rel {
  margin-bottom: 0;
}
.rel-note {
  margin-top: 0;
  color: #555;
}

pre {
  padding-left: 15px;
  border-left: 2px solid #ddd;
}

code {
  padding: 0 2px;
}

strong {
  text-decoration: underline;
  font-weight: normal;
}

.field {
  border: 1px solid rgb(40, 19, 162);
}

.btn {
  border-style: solid;
  border-width: 1px;
  color: rgb(26, 26, 26);
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
  width: 100%;
  height:36px;
  margin-left: 7px;
  margin-right: 7px;
}

.vertical-center {
  vertical-align: middle;
  transform: translateY(50%);
}

.outarea {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(26,26,26);
}

.nav-toggle {
  display: none;
}

.hide {
  display: none;
}

@media screen and (max-width: 800px) {
  .actions {
    padding-top: 120px;
  }
  .actionsleft, .actionsright {
    float: none;
    text-align: left;
    margin-bottom: 1em;
  }
  
  .CodeMirror {
	  font-size: 20px;
  }
  .nav-toggle {
    background-color: transparent;
    z-index: 5;
    width: 1.6em;
    height: 100%;
    position: fixed;
    display: inherit;
  }

  #nav {
    display: none;
  }

  article {
    margin-left: 0;
    border-left: 0;
  }
}